version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: ./container/Dockerfile
    container_name: hello-world-app
    ports:
      - "8080:8080"
    environment:
      - JAVA_OPTS=-Xmx512m -Xms256m
    restart: unless-stopped